.idea{
    margin: 30px auto;
    border:5px rgba(75, 255, 75, 0.504);  
    padding:70px;
    width: 360px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 14px;
    background-color: rgba(75, 255, 75, 0.504);  
    
}
.bt{
    border:none;
    border-radius:60px;
    color:black;
    background-color: white;
    padding:16px;
    
}
